@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href="https://www.learnentityframeworkcore.com/walkthroughs/existing-database">
            EF Core Database First
            </a>
    </p>
    <p>
        Auto Generate EF models:
        <i><b>
        dotnet ef dbcontext scaffold "Server=.\;Database=AdventureWorks2019;Trusted_Connection=True;TrustServerCertificate=True" Microsoft.EntityFrameworkCore.SqlServer -o Models
            </b>
        </i>
    </p>
</div>
